@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply bg-amber-50
}

.wavy-up-shape {
    clip-path : polygon(0% 100%,5% 98%,10% 95%,15% 91%,20% 85%,25% 78%,30% 62%,35% 25%,40% 8%,45% 2%,50% 0%,55% 2%,60% 8%,65% 25%,70% 62%,75% 78%,80% 85%,85% 91%,90% 95%,95% 98%,100% 100%);
}

.wavy-down-shape {
    clip-path: polygon(0% 0%,5% 2%,10% 5%,15% 9%,20% 15%,25% 22%,30% 38%,35% 75%,40% 92%,45% 98%,50% 100%,55% 98%,60% 92%,65% 75%,70% 38%,75% 22%,80% 15%,85% 9%,90% 5%,95% 2%,100% 0%);
}